 @model MyCV.Models.EducationListViewModel
<form action="/Home/AddEducation" method="post" role="form">
    <table class="table table-striped">
        @foreach (var education in Model.EducationList)
        {
            <tr>

                <td>@education.Begin-@education.End</td>
                <td>@education.SchoolName</td>
                <td><a href="/Home/DeleteEducation?Id=@education.Id" class="btn btn-danger">X</a></td>
            </tr>
        }

        @Html.Partial("_EditEducationAdd", Model.NewEducation)
    </table>
</form>

