@model MyCV.Models.SkillsCategoryListViewModel
<form action="/Home/AddSkillCategory" method="post" role="form">
    <table class="table table-striped">
        @foreach (var skillsCategory in Model.SkillsCategoryList)
        {
            <tr>
                <th>@skillsCategory.Name</th>

                @Html.Partial("_SkillView", skillsCategory.Skills)
                @**@
            </tr>
        }
    </table>
</form>
