@model MyCV.Models.SkillsCategoryListViewModel
<form action="/Home/AddSkillCategory" method="post" role="form">
    <table class="table table-striped">
        @foreach (var skillsCategory in Model.SkillsCategoryList)
        {
        <tr>
            <td><a href="/Home/DeleteSkillsCategory?Id=@skillsCategory.Id" class="btn btn-danger">X</a></td>
            <td>@skillsCategory.Name</td>

            @Html.Partial("_SkillView", skillsCategory.Skills)
            @**@
        </tr>
        }
    </table>
</form>
