@model List<MyCV.Models.SkillViewModel>

@foreach (var skill in Model)
{
    <td>
        @skill.Name
        <a href="/Home/@skill.DeleteCommand?Id=@skill.Id" class="btn btn-danger btn-xs">X</a>
    </td>

}
