@model MyCV.Models.EducationListViewModel
<table class="table table-striped">
    <tr>
        <th>Даты</th>
        <th>Название</th>
    </tr>
    @foreach (var education in Model.EducationList)
    {
    <tr>

        <td>@education.Begin-@education.End</td>
        <td>@education.SchoolName</td>
    </tr>
    }
</table>
