@model MyCV.Models.PersonalInfoViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h2 class="title">@Model.FullName</h2>
            <img src="~/Content/My_photo.jpg" alt="Photo" class="img-thumbnail">
        </div>

        <div class="col-md-6 col-xs-6">
            <dl class="">
                <dt>Phone:</dt>
                <dd>@Model.Phone</dd>
                <dt>E-mail:</dt>
                <dd>@Model.Email</dd>
            </dl>
        </div>
    </div>
</div>