@model MyCV.Models.WorkExperienceListModel
<table class="table table-striped">
    @foreach (var workExperience in Model.WorkExperienceList)
    {
    <tr>

        <td>@workExperience.Begin-@workExperience.End</td>
        <td>@workExperience.WorkName</td>
        <td>@workExperience.PositionName</td>
    </tr>
    }
</table>
