@model MyCV.Models.SkillsCategoryListViewModel
<table class="table table-striped">
    @foreach (var skillsCategory in Model.SkillsCategoryList)
    {
        <tr>
            <th>@skillsCategory.Name</th>
            <td>@string.Join(",", skillsCategory.Skills.Select(x => x.Name))</td>
        </tr>
    }
</table>


