@model MyCV.Models.WorkExperienceListViewModel
<table class="table table-striped">
    <tr>
        <th>Даты</th>
        <th>Место работы</th>
        <th>Должность</th>
        <th>Навыки</th>
    </tr>
    @foreach (var workExperience in Model.WorkExperienceList)
    {
        <tr>
            <td>@workExperience.Begin-@workExperience.End</td>
            <td>@workExperience.WorkName</td>
            <td>@workExperience.PositionName</td>
            <td>@string.Join(", ", workExperience.Skills.Select(x => x.Name))</td>
        </tr>
    }
</table>
