@model MyCV.Models.PersonalInfoViewModel
<h1 class="title">@Model.FullName</h1>
<h4 class="title info">Personal Info:</h4>

<h5 class="title info">Phone:</h5>
<p>@Model.Phone</p>
<h5 class="title info">e-mail:</h5>
<p>@Model.Email</p>
