@model MyCV.Models.WorkExperienceListViewModel
<table class="table table-striped">
    <tr>
        <th>Даты</th>
        <th>Место работы</th>
        <th>Должность</th>
    </tr>
    @foreach (var workExperience in Model.WorkExperienceList)
    {
        <tr>
            <td>@workExperience.Begin-@workExperience.End</td>
            <td>@workExperience.WorkName</td>
            <td>@workExperience.PositionName</td>
        </tr>
        <table class="table table-striped">
            <tr>
                <td></td>
                <th>Навыки</th>
                <td>@string.Join(", ", workExperience.Skills.Select(x => x.Name))</td>
            </tr>
        </table>
    }
</table>
