@{
    ViewBag.Title = "Home Page";
}

        <aside class="sidebar">
            <h1 class="title">Ageeva Olga</h1>
            <h4 class="title info">Personal Info:</h4>

            <h5 class="title info">Phone:</h5>
            <p>+79200513315</p>
            <h5 class="title info">e-mail:</h5>
            <p>olga.ageeva.999@mail.ru</p>
        </aside>

        <main class="content">
            <fieldset>
                <legend>Education</legend>
                <div class="educaton">
                    <p></p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Work Experience</legend>
                <div class="workExperience">
                    <p></p>
                </div>
            </fieldset>
        </main>
    </div>
</body>
</html>