html, body, .container {
    min-height: 100%;
}

body {
    padding-top: 70px;
}

body{
    margin: 0;

    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;

    background: linear-gradient(white, #ccc);
    background-repeat: no-repeat;

}

.container {
    width: 800px;
    margin: 0 auto;

    border: 1px solid #ccc;
}

.content {
    padding: 5px; /* Поля вокруг текста */

    background-color: white;
}


.sidebar {
    padding: 20px; /* Поля вокруг текста */
    text-align: center;

    color: white;
    background-color: rgb(53, 53, 53);
}

legend{
    font-weight: bold;
}

.title{
    margin: 0;
    padding-bottom: 10px;
}

p{
    margin: 0;
}

.info{
    padding-top: 10px;
    padding-bottom: 0;
}